@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(48, 46, 46);
    overflow: hidden;
}
.title{
    font-size: 2rem ;
    color: white;
    text-align: center;
}
.app{
    background-color: rgb(48, 47, 47);
    width: 300px;
    height: 400px;
    border: 2px solid rgb(255, 135, 22);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.input{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
}

    .input .value-btns{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-content: center;
    }

    .inputBig{
        grid-column: 1 / 3;
    }

    .grid-auto{
        display: grid;
        grid-auto-columns: repeat(auto-fit,1fr);
    }

    button {
        border: none;
        cursor: pointer;
        background-color: rgb(59, 55, 54);
        font-size: 1.2rem;
        border: 1px solid rgba(255, 94, 0, 0.247);
        color: rgb(24, 22, 22);
    }
    button:hover{
        filter: brightness(70%);
        color: white;
        transition: all 150ms ease;
    }
 

    .action-btns button{
        color: white;
        background-color: rgb(179, 67, 67);
        border: 1px solid rgba(145, 35, 35, 0.822) ;
    }
    
    button.special{
        background-color: rgb(255, 115, 0);
        outline: 2px solid rgb(39, 35, 33);
    }

    button:active{
        border: 3px solid rgb(240, 230, 227);
    }
    .display{
        background-color: aliceblue;
        border: 2px solid rgb(61, 58, 58);
        text-align: right;
        padding: .2em;
        color: black;
    }


.footer{
    color: grey;
    font-weight: 200;
    font-size: .8rem;
    margin:.5em;
}